name: Github Snake
on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate GitHub Contribution Snake
        uses: Platane/snk@v1
        with:
          github_user_name: ayesha-mollik
          svg_out_path: ./github-contribution-grid-snake.svg
